<app-navbar></app-navbar>
<div class="auth-container">
  <h2>Forgot Password</h2>

<input
  type="email"
  placeholder="Enter your email"
  [(ngModel)]="email"
  #emailInput="ngModel"
  required
  pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
/>

<button
  (click)="submit()"
  [disabled]="loading || emailInput.invalid"
>
  Send Reset Link
</button>



  <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
<app-footer></app-footer>