<nav class="nav">
    <div class="container nav-inner">
      <a class="brand" routerLink="/">
        <div class="logo"><img src="mouja.png" class="logo"></div>
        <span class="brand-text">AquaLux</span>
      </a>
  
      <div class="links desktop-only">
        <a *ngFor="let link of navLinks" [routerLink]="link.to" class="nav-link">
          {{ link.label }}
        </a>
      </div>
  
      <div class="actions">
        <p (click)="logout()"><i class="fa-solid fa-phone"></i> 92664240</p>
        <a routerLink="/compte" class="icon-btn"><i class="fa fa-user"></i></a>
  
        <a routerLink="/panier" class="icon-btn cart">
          <i class="fa fa-shopping-cart"></i>
          <span *ngIf="totalItems>0" class="badge">{{ totalItems }}</span>
        </a>
  
        <!-- simple mobile menu button (you can wire it to open a drawer) -->
        <button class="icon-btn mobile-only" aria-label="menu">
          <i class="fa fa-bars"></i>
        </button>
      </div>
    </div>
  </nav>
  